<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbkj.service.dao.circle.CircleMenuDao">

    <select id="findPermissionByUserId" resultType="com.zbkj.common.model.circle.CircleMenu">
        SELECT m.*
        FROM eb_circle_menu m
                 right join eb_circle_role_menu rm on rm.menu_id = m.id
                 right join eb_circle_role r on rm.rid = r.id
                 right join eb_circle_admin a on FIND_IN_SET(r.id, a.roles)
        where  m.is_delte = 0 and r.`status` = 1 and a.id = #{uid}
        GROUP BY m.id
    </select>
    <select id="getMenusByUserId" resultType="com.zbkj.common.model.circle.CircleMenu">
        SELECT m.*
        FROM eb_circle_menu m
                 right join eb_circle_role_menu rm on rm.menu_id = m.id
                 right join eb_circle_role r on rm.rid = r.id
                 right join eb_circle_admin a on FIND_IN_SET(r.id, a.roles)
        where  m.is_delte = 0 and r.`status` = 1 and m.menu_type != 'A' and m.is_show = 1 and a.id = #{uid}
        GROUP BY m.id
    </select>
</mapper>
